/* @CHARSET "ISO-8859-1";

/* Popular Links */


span#op { font-size:10px; color: #aeaeae;}
span#latest { font-size:10px; color: #aeaeae;}
span#count { font-size:10px; color: #aeaeae;}
span#url { display: block; margin-bottom: -8px; }

#latestmessages, #popularlinks, #mostactive {
	overflow: auto;
	width: 100%;
	height: 70%;
	padding: 5px;
	font-size: 12px;
} 

body {
  background-color: rgba(74,121,147,0.89);
  background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(74,121,147,0.89),rgba(204,204,204,0.85) 80%,rgba(185,135,131,0.87) 120%);
  /* background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(74,121,147,0.89), rgba(204,204,204,0.85) 80%, rgba(185,135,131,0.87) 120%); */
  background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(74,121,147,0.89), rgba(204,204,204,0.85) 80%, rgba(185,135,131,0.87) 120%);
  background-attachment: fixed, fixed;
}

.row div {
	-webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

#searchname {
	margin:20px;
}

.message {
  text-align: left;
}

span#username {
	font-weight:bold;
	padding-right:2px;
}